@import url(reset.css);
@import url(pictures.css);


/* font-family: 'Afacad', sans-serif;
font-family: 'Ubuntu', sans-serif; */

html, body{
    scroll-behavior: smooth;
}
p{
    font-family: 'Raleway', sans-serif;
}
.header, .footer {
    height: 75px;
    background-color: black;  
}
.header-container, .footer-container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 0;
    text-align: center;
}
.container {
    width: 1200px;
    margin: 0 auto;
    background-image: url(../picture/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 0 15px;
}



.logo {
    font-family: 'Caveat', cursive;
    width: 250px;
    font-size: 40px;
    color: gray;
}

.menu {
    font-size: 0;
    width: 800px;
    text-transform: uppercase;
}

.menu > li + li {
    margin-left: 30px;
}

.logo, .menu, .login, .menu>li {
    display: inline-block;
}

.menu > li a, .login {
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
    color: gray;
}

.login {
    width: 150px;
    padding: 5px;
    background-color: rgb(0, 85, 255);
    border-radius: 25px;
    color: white;
}



.link-mountain{
    color: black;
    font-size: 30px;
}
.section-main > h2{
    margin: 15px;
}
.section-main h2 +p {
    font-size: 16px;
}

.section-main {
    margin: 0 auto;
    width: 300px;
    padding: 30px 0;
}

p span {
    color: white;
}

.section-main > img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.footer {
    font-size: small;
}

.footer a, .footer p {
    color: gray;
    font-size: 15px;
}

table {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 3px;
}
.cont-table{
    padding: 100px 0;
} 

td {
    opacity: 0.6;
}

/* add cards */
.cards {
    font-size: 0;
}
.cards > h2{
    display: none;
}
.card {
    width: 250px;
    height: 330px;
    box-shadow: 0px 0px 20px 3px black;
    padding: 15px;
    display: inline-block;
    margin: 15px; 
    font-size: 16px;
    color: black;
}
.card > h2 > a{
  font-size: 30px;
  color: white;
}
.card > h2{
    margin: 10px 0;
}
.card > p {
    height: 100px;
    overflow: hidden;
}


/* position */

.img{
    width: 500px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.img-gallery{
   width: 100%;
   height: 100%;
   object-fit: cover; 
}
.section > h2{
    font-family: 'Afacad', sans-serif;
    font-size: 32px;
    padding-bottom: 30px;
}
.section{
    border-bottom: 2px gray solid;
    padding: 75px 0;
}
.section:last-child{
    border-bottom: 0;
}
.hover-txt{
    display: none;
    width: 100%;
    height: 150px;
    overflow: auto;
    background-color: rgba(165, 235, 226, 0.5);
    position: absolute;
    top: 50%;
    left: 0;
    margin: -75px 0 0;
    padding: 25px;
}
.img:hover .hover-txt{
    display: block; 
}

.fixed-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 0;
    width: 150px;
    height: 400px;
    margin: -200px 0;
    background-color: black;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    text-align: center;
    font-family: 'Afacad', sans-serif;
    font-size: 18px;
    overflow: hidden;
}
.fixed-menu>li{
    flex-grow: 1 ;
    border-bottom: 1px aliceblue solid;
    padding: 10px;

}
.fixed-menu > li:hover{
    background-color: aliceblue;
}
.fixed-menu > li > a{
    width: 100%;
    display: block;
    color: gray;
}


.last-child:last-child{
    border: none;
}
/* }font-family: 'Afacad', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Ubuntu', sans-serif; */